html body h1,
html body h2,
html body a,
html body p {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #2f2f2f;
}
header {
  height: 100vh;
  position: relative;
  background-image: url(../img/wolf_city.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .wolf-logo {
  text-align: center;
}
header .wolf-logo img {
  margin: 40px;
  width: 180px;
}
header .wolf-logo h1 {
  float: left;
  margin: 0;
  line-height: 250px;
  font-size: 55px;
}
header .wolf-home {
  clear: both;
}
header .wolf-home h2 {
  text-align: center;
  -vendor-animation-duration: 2s;
  position: absolute;
  width: 100%;
  padding: 0 5vw;
  top: 35vh;
  text-transform: UPPERCASE;
  font-size: 40px;
  font-family: Dosis;
  letter-spacing: 8px;
}
header .wolf-home .wolf-start-btn {
  color: #fff;
  border: 2px solid #fff;
}
header .wolf-home .wolf-start-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.wrapper {
  border-top: 10px solid #50a6c2;
}
.wolf-start-btn {
  letter-spacing: 2px;
  position: absolute;
  bottom: 10vh;
  left: calc(50% - 86px);
  border-radius: 3px;
  font-size: 22px;
  transition: ease 0.3s;
}
section#demo {
  background: none;
}
section#demo .wolf-start-btn {
  color: #50a6c2;
  border: 2px solid #50a6c2;
}
section#demo .wolf-start-btn:hover {
  color: #fff;
  background-color: #50a6c2;
}
section#features .visible-xs > div:last-child {
  margin-bottom: 25px;
}
section#features .media .media-body {
  color: #999999;
}
section#features .media .media-body h3 {
  color: #50a6c2;
}
section#features .media i.fa {
  border: 2px solid #50a6c2;
  color: #fff;
  background: #50a6c2;
}
section#features .media:hover .media-body h3 {
  color: #50a6c2;
}
section#features .media:hover i.fa {
  color: #fff;
  background: #50a6c2;
}
section#features .media.feature {
  min-height: 85px;
}
section .section-heading .divider:after {
  background: #2f2f2f;
}
section#about .about-item i.fa {
  border-color: #50a6c2;
  background: #50a6c2;
  color: #fff;
}
section#about .about-item h3 {
  color: #50a6c2;
}
section#about .about-item:hover i.fa {
  background: #50a6c2;
  color: #fff;
}
section#about .about-item:hover h3 {
  color: #50a6c2;
}
section#slider {
  padding-bottom: 0;
}
footer {
  background: #50a6c2;
  padding-top: 0;
  text-align: left;
}
footer .contact {
  margin: 30px 0 30px calc(50% - 178px);
}
footer .contact a {
  border: 2px solid #fff;
  margin: 0 25px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transition: ease 0.3s;
}
footer .contact a i {
  color: #fff;
}
footer .contact a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .contact span {
  font-size: 26px;
  color: #fff;
}
footer .contact.phone a {
  padding: 21px 12px 13px 17px;
}
footer .contact.mail a {
  padding: 21px 10px 14px 14px;
}
#wolf-login-modal {
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  color: #bbbbbb;
}
#wolf-login-modal .modal-header {
  border-bottom: none;
  padding: 12px 20px 0;
}
#wolf-login-modal .modal-header .modal-title {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}
#wolf-login-modal .modal-header .close {
  font-size: 34px;
  line-height: 30px;
}
#wolf-login-modal .modal-header .close:focus {
  outline: 0;
}
#wolf-login-modal .modal-content {
  max-width: 300px;
  margin: auto;
}
#wolf-login-modal .modal-body {
  color: #2f2f2f;
  font-size: 16px;
}
#wolf-login-modal .modal-body form {
  padding-top: 20px;
}
#wolf-login-modal .modal-body form input {
  letter-spacing: 2px;
  width: 80%;
  margin-left: 3%;
  border: none;
  border-bottom: 1px solid #dddddd;
  outline: none;
  font-size: 22px;
  color: #2f2f2f;
  margin-bottom: 20px;
}
.tp-banner-container {
  position: relative;
}
@media (max-width: 400px) {
  header .wolf-logo img {
    float: none;
    margin-top: 5vh;
    width: 100px;
  }
  header .wolf-home h2 {
    top: 25vh;
    font-size: 24px;
  }
  .section-heading h1 {
    font-size: 40px;
  }
  .section-heading p {
    font-size: 22px;
  }
  footer .contact {
    margin: 30px 0 30px calc(50% - 124px);
  }
  footer .contact a {
    margin: 0 10px 0 -10px;
  }
  footer .contact span {
    font-size: 18px;
  }
}
